* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(203, 251, 219);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 5%;
    margin-left: 5%;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7.5rem;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav li {
    padding: 1rem;
}

li {
    list-style: none;
}